{
  "openapi": "3.1.0",
  "info": {
    "title": "Neighborhood Commons API",
    "description": "The Neighborhood Commons API: typed substrate for neighborhood-scale public facts. Five Schema.org-aligned primitives (Place, Organization, Event, Broadcast, List), verification anchored on Type A profile authority, constrained-publishing model with three authority paths (entity-runs-it, pipeline-proxies, witnessed-with-evidence). Read free, write through linked organizations. CC BY 4.0.\n\n**This document is the Spec, part of the Commons Contract.** The Contract is three files together: the Spec (this document — machine-readable, authoritative), the Guide (`/llms.txt` — narrative companion), and the Log (`CHANGELOG.md` — dated record of every change). Rule when they disagree: Spec wins. Guide explains. Log dates.\n\n**3.0.0** establishes the standard four-role event provenance frame (`docs/four-roles.md`) and the type-general provenance method doctrine (`docs/provenance.md`). `source.publisher` is removed (the role is filled by `organizer.name`); `source.method` uses the standard vocabulary (`self_asserted` / `proxied` / `witnessed`); `source.url` carries the proxied source URL when applicable. Organizations, Broadcasts, and Lists gain a `method` field — Organizations admit `seeded` for bulk-imported, awaiting-uptake rows. This is the launch contract; from here forward the substrate is additive-only.",
    "version": "3.0.0",
    "license": {
      "name": "CC-BY-4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    },
    "contact": {
      "name": "Neighborhood Commons",
      "url": "https://neighborhood-commons.org",
      "email": "hi@neighborhood-commons.org"
    }
  },
  "servers": [
    {
      "url": "https://neighborhood-commons.org/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "summary": "List events",
        "description": "Published events, paginated and filtered. No authentication required.",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "start_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Events starting after this date (YYYY-MM-DD)"
          },
          {
            "name": "start_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Events starting before this date (YYYY-MM-DD)"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by category slug"
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            },
            "description": "Filter by tag(s) — AND semantics"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Text search across name and description"
          },
          {
            "name": "near",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^-?\\d+\\.?\\d*,-?\\d+\\.?\\d*$"
            },
            "description": "Coordinates as lat,lng for proximity filtering"
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 100,
              "default": 10
            },
            "description": "Proximity radius in km (requires near)"
          },
          {
            "name": "collapse_series",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Deduplicate series to nearest upcoming instance"
          },
          {
            "name": "series_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to events in a specific series"
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to events belonging to a specific group"
          },
          {
            "name": "recurring",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter recurring (true) or one-off (false) events"
          },
          {
            "name": "contributor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by organizer organization slug. v2: resolves against `organizations.slug` → `events.organizer_org_id` (replaces the legacy `portal_accounts.slug` lookup)."
          },
          {
            "name": "commercial",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "v2: filter to events whose organizer is for-profit (`commercial=true`) vs. non-commercial (`commercial=false`). Joins through `organizations.commercial`."
          },
          {
            "name": "place_category",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "v2: filter to events at places with the given OSM-sourced category (e.g., `cafe`, `live_music_venue`). Joins through `places.place_categories`."
          },
          {
            "name": "tmdb_id",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Filter to all showings of a film (clusters film-category events across theaters and dates). Pair with `?category=film` for clean results."
          },
          {
            "name": "first_party",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by authorship tier. `true` = events posted by the verified business itself (first-party). `false` = events aggregated from public sources (scrapers, feeds, ingestion pipelines). Omit for both. The Commons separates information *from* a business from information *about* a business; apps choose what tier to surface."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated event list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "meta",
                    "events"
                  ],
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/events/changes": {
      "servers": [
        {
          "url": "https://neighborhood-commons.org/api",
          "description": "Changes feed lives OUTSIDE the /v1 prefix. Full URL: https://neighborhood-commons.org/api/events/changes"
        }
      ],
      "get": {
        "summary": "Events changes feed",
        "description": "Lightweight public sync endpoint for consumers without a service key. Returns events whose updated_at is greater than the `since` cursor, plus the IDs of events that have ended since that cursor. NOT under /v1 — the full URL is `/api/events/changes`. Rate limit: 10/min per IP. Responses are cached 60s. For higher throughput, use a service key and call `/v1/service/events`.",
        "operationId": "getChangesFeed",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 timestamp. Returns events updated after this point."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Changes since the cursor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "events",
                    "deleted_ids",
                    "sync_cursor",
                    "has_more"
                  ],
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "content": {
                            "type": "string"
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "place_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "event_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "end_time": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "category": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "link_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "event_image_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "region_slug": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "updated_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "deleted_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "sync_cursor": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Pass this as the next request's `since` value."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "If true, another page of changes exists — call again with the returned sync_cursor."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "summary": "Get event",
        "description": "Single event by ID in Neighborhood API format.",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/terms": {
      "get": {
        "summary": "Data license terms",
        "operationId": "getTerms",
        "responses": {
          "200": {
            "description": "License and usage terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/events.ics": {
      "get": {
        "summary": "iCalendar feed",
        "description": "iCalendar feed of events. Accepts the same query filters as /events. Default window: 30 days ago to 90 days ahead. Series are deduplicated with RRULE.",
        "operationId": "getIcalFeed",
        "parameters": [
          {
            "name": "contributor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by contributor account slug"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by category slug"
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            },
            "description": "Filter by tag(s)"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Text search"
          },
          {
            "name": "near",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Coordinates as lat,lng"
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Proximity radius in km"
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by group"
          },
          {
            "name": "start_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Override default 30-day lookback"
          },
          {
            "name": "start_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Override default 90-day lookahead"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500,
              "default": 200
            },
            "description": "Max events"
          }
        ],
        "responses": {
          "200": {
            "description": "iCalendar feed of matching events",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/events.rss": {
      "get": {
        "summary": "RSS feed",
        "description": "RSS 2.0 feed of events. Accepts the same query filters as /events. Supports pagination via limit/offset.",
        "operationId": "getRssFeed",
        "parameters": [
          {
            "name": "contributor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by contributor account slug"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by category slug"
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            },
            "description": "Filter by tag(s)"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Text search"
          },
          {
            "name": "near",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Coordinates as lat,lng"
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Proximity radius in km"
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by group"
          },
          {
            "name": "start_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Events after this date"
          },
          {
            "name": "start_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Events before this date"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 200,
              "default": 50
            },
            "description": "Page size"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "RSS 2.0 feed of matching events",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/meta": {
      "get": {
        "summary": "Feed metadata",
        "operationId": "getMeta",
        "responses": {
          "200": {
            "description": "Feed name, stewards, license, and supported resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/meta/regions": {
      "get": {
        "summary": "List active regions",
        "description": "Geographic regions with timezone and center coordinates. Cached for 1 hour.",
        "operationId": "listRegions",
        "responses": {
          "200": {
            "description": "Active regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "longitude": {
                            "type": [
                              "number",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta/categories": {
      "get": {
        "summary": "List event categories with counts",
        "description": "Categories with current event counts. Sorted by count descending. Cached for 30 minutes.",
        "operationId": "listCategories",
        "responses": {
          "200": {
            "description": "Event categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "Kebab-case slug (e.g. live-music)"
                          },
                          "key": {
                            "type": "string",
                            "description": "Underscore key (e.g. live_music)"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meta/stats": {
      "get": {
        "summary": "Platform statistics",
        "description": "Live counts of published events, active venues, and primary region. No authentication required. Cached for 5 minutes.",
        "operationId": "getStats",
        "responses": {
          "200": {
            "description": "Platform statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_events": {
                      "type": "integer",
                      "description": "Published events"
                    },
                    "total_venues": {
                      "type": "integer",
                      "description": "Active venue accounts"
                    },
                    "region": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Primary region name"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create webhook subscription",
        "description": "Subscribe to event changes. Returns the signing secret once — store it securely. Webhooks are signed with HMAC-SHA256. Max 5 subscriptions per API key.\n\n**Event types:** `event.created`, `event.updated`, `event.deleted`, `event.series_created`, `event.image_processed`. The default subscribes to the first four; `event.image_processed` is opt-in (different payload shape — see Guide for details).",
        "operationId": "createWebhook",
        "security": [
          {
            "browseApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS endpoint. Must resolve to a public IP (RFC 1918 and cloud metadata addresses blocked)."
                  },
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "event.created",
                        "event.updated",
                        "event.deleted",
                        "event.series_created",
                        "event.image_processed"
                      ]
                    },
                    "default": [
                      "event.created",
                      "event.updated",
                      "event.deleted",
                      "event.series_created"
                    ],
                    "description": "Event types to subscribe to. Defaults to all event.* types except `event.image_processed`, which has a different payload shape and must be opted into explicitly."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created. The signing_secret is returned only on creation — it cannot be recovered later.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    },
                    "signing_secret": {
                      "type": "string",
                      "description": "64-character hex secret for HMAC-SHA256 verification. Shown once."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL or URL validation failed (SSRF protection). Error codes: INVALID_WEBHOOK_URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Subscription limit reached (max 5 per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "summary": "List webhook subscriptions",
        "description": "List all webhook subscriptions for the calling API key.",
        "operationId": "listWebhooks",
        "security": [
          {
            "browseApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "patch": {
        "summary": "Update webhook subscription",
        "description": "Update the URL, event types, or status (active/paused) of a webhook subscription.",
        "operationId": "updateWebhook",
        "security": [
          {
            "browseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "New HTTPS endpoint URL"
                  },
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "event.created",
                        "event.updated",
                        "event.deleted",
                        "event.series_created",
                        "event.image_processed"
                      ]
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Webhook belongs to a different API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Delete webhook subscription",
        "description": "Delete a webhook subscription. Future events will not be delivered to this endpoint.",
        "operationId": "deleteWebhook",
        "security": [
          {
            "browseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Webhook belongs to a different API key"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/webhooks/{id}/test": {
      "post": {
        "summary": "Send test webhook delivery",
        "description": "Send a test payload to the webhook endpoint. Useful for verifying signature verification logic.",
        "operationId": "testWebhook",
        "security": [
          {
            "browseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test delivery result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivered": {
                      "type": "boolean"
                    },
                    "status_code": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Webhook belongs to a different API key"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/webhooks/{id}/deliveries": {
      "get": {
        "summary": "List webhook deliveries",
        "description": "Recent delivery attempts for a webhook subscription, newest first. Filter by `status` and/or `event_id` to confirm a specific event reached this subscriber — useful for reconciling missed deliveries without a full re-scan.",
        "operationId": "listWebhookDeliveries",
        "security": [
          {
            "browseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "delivered",
                "failed",
                "retrying"
              ]
            },
            "description": "Filter to a single delivery state."
          },
          {
            "name": "event_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to deliveries for a specific event UUID. Combine with `status=delivered` to confirm a specific event landed."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Auto-incrementing delivery row ID."
                          },
                          "event_type": {
                            "type": "string",
                            "description": "The event_type that triggered this delivery (e.g. `event.created`, `event.image_processed`)."
                          },
                          "event_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The event UUID this delivery is for."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "delivered",
                              "failed",
                              "retrying"
                            ]
                          },
                          "status_code": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "HTTP status code returned by the subscriber endpoint, or null if no response was received."
                          },
                          "error_message": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Failure reason (truncated to 500 chars). Null on success."
                          },
                          "attempt": {
                            "type": "integer",
                            "description": "Attempt number, 1-indexed. Max 3."
                          },
                          "next_retry_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "When the next retry will fire. Null on terminal states."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "offset": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Webhook belongs to a different API key"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/service/events": {
      "get": {
        "summary": "List events (service)",
        "description": "List events with full internal fields. Supports filtering by status, time, category, search, and source method. By default shows one-offs + first instance of each series; pass all_instances=true for reconciliation.",
        "operationId": "serviceListEvents",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "published",
                "pending_review",
                "draft"
              ]
            }
          },
          {
            "name": "time",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "past",
                "all"
              ]
            },
            "description": "Default: upcoming"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Text search on title, venue name, address"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_method",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "self_asserted",
                "proxied",
                "witnessed"
              ]
            }
          },
          {
            "name": "all_instances",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Include all series instances (default: false)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events with account info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create event (service)",
        "description": "Create a single or recurring event on behalf of a linked account. Uses Neighborhood API friendly-shape field names (name, start, timezone, location, url, cost) — symmetric with GET /events responses. Omit recurrence for one-off events. For recurring events, creates a full series and returns series_count and instance_ids.",
        "operationId": "serviceCreateEvent",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event or series created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single event",
                      "properties": {
                        "event": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Recurring series",
                      "properties": {
                        "series_count": {
                          "type": "integer"
                        },
                        "series_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "instance_ids": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "NOT_LINKED — service key not linked to account"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/service/events/batch": {
      "patch": {
        "summary": "Bulk update events (service)",
        "description": "Bulk-update up to 200 events by ID. Only updates provided fields. Scoped to accounts linked to this key (admin keys bypass).",
        "operationId": "serviceBatchUpdateEvents",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids",
                  "updates"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1,
                    "maxItems": 200
                  },
                  "updates": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 100
                        },
                        "maxItems": 15
                      },
                      "description": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 2000
                      },
                      "price": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 100
                      },
                      "wheelchair_accessible": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      },
                      "open_window": {
                        "type": "boolean"
                      },
                      "capacity": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "minimum": 1,
                        "maximum": 10000
                      },
                      "rsvp": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "enum": [
                          "recommended",
                          "required",
                          null
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "published",
                          "pending_review",
                          "draft"
                        ]
                      },
                      "first_party": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch update complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "NOT_LINKED for one or more events"
          }
        }
      }
    },
    "/service/events/{id}": {
      "get": {
        "summary": "Get event (service)",
        "description": "Get a single event with full internal fields and account info.",
        "operationId": "serviceGetEvent",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event with account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event"
                  ],
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/ServiceEvent"
                    },
                    "account": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/ServiceAccount"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update event (service)",
        "description": "Update a single event. Scoped to accounts linked to this service key.",
        "operationId": "serviceUpdateEvent",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event"
                  ],
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/ServiceEvent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "NOT_LINKED"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete event (service)",
        "description": "Delete a single event. Scoped to accounts linked to this service key.",
        "operationId": "serviceDeleteEvent",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "NOT_LINKED"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/service/events/series/{seriesId}": {
      "patch": {
        "summary": "Update series (service)",
        "description": "Update all future instances of a recurring series. Scoped to accounts linked to this service key.",
        "operationId": "serviceUpdateSeries",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "seriesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Series updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "NOT_LINKED"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete series (service)",
        "description": "Delete all future instances of a recurring series. Scoped to accounts linked to this service key.",
        "operationId": "serviceDeleteSeries",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "seriesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Series deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "NOT_LINKED"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/service/events/{id}/image": {
      "post": {
        "summary": "Upload event image (service)",
        "description": "Upload an image for an event. Image is re-encoded through Sharp (JPEG/PNG/WebP only, max 12MB). Returns the CDN URL.",
        "operationId": "serviceUploadEventImage",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Base64-encoded image data"
                  },
                  "content_type": {
                    "type": "string",
                    "enum": [
                      "image/jpeg",
                      "image/png",
                      "image/webp"
                    ]
                  },
                  "focal_y": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Vertical focal point for cropping (0=top, 1=bottom, 0.5=center)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event_image_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid image type or corrupt file"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "NOT_LINKED"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/service/stats": {
      "get": {
        "summary": "Platform stats (service/admin)",
        "description": "Detailed stats: account counts (total, claimed, pending), event counts, and category distribution. Admin service key required.",
        "operationId": "serviceGetStats",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Platform stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "properties": {
                        "total_accounts": {
                          "type": "integer"
                        },
                        "claimed_accounts": {
                          "type": "integer"
                        },
                        "pending_accounts": {
                          "type": "integer"
                        },
                        "total_events": {
                          "type": "integer"
                        },
                        "category_distribution": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      }
    },
    "/service/api-keys": {
      "get": {
        "summary": "List API keys (service/admin)",
        "description": "List all API keys with event contribution stats. Admin service key required.",
        "operationId": "serviceListApiKeys",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "API keys with event stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "key_prefix": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "contact_email": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "rate_limit_per_hour": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "contributor_tier": {
                            "type": "string"
                          },
                          "last_used_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "event_count": {
                            "type": "integer"
                          },
                          "pending_count": {
                            "type": "integer"
                          },
                          "last_submitted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      },
      "post": {
        "summary": "Issue API key (service/admin)",
        "description": "Create a new API key. v2: writeable scope (which organizations the key may publish for) is established separately via `POST /service/organizations/link` after issuance. The optional `account_id` field references an operational tenant portal_account but does not grant write authority on its own. Returns the raw key string ONCE — store it immediately, it is unrecoverable.",
        "operationId": "serviceCreateApiKey",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "contact_email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "contact_email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 200
                  },
                  "contributor_tier": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "verified",
                      "trusted",
                      "service"
                    ],
                    "default": "verified"
                  },
                  "account_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional. Operational reference to a portal_account the key represents (tenant claim tracking). Does not grant write authority — that flows through `api_key_organization_links`."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 500
                  },
                  "rate_limit_per_hour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100000,
                    "default": 1000
                  },
                  "is_admin": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created. The `key` field is the raw secret — store it immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "api_key",
                    "key"
                  ],
                  "properties": {
                    "api_key": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "key_prefix": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "contributor_tier": {
                          "type": "string"
                        },
                        "is_admin": {
                          "type": "boolean"
                        },
                        "account_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "key": {
                      "type": "string",
                      "description": "The raw API key — pass as X-API-Key. Returned ONCE; not recoverable."
                    },
                    "warning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          },
          "404": {
            "description": "account_id not found"
          }
        }
      }
    },
    "/service/api-keys/{id}": {
      "patch": {
        "summary": "Update API key (service/admin)",
        "description": "Update an API key's name, URL, status, contributor_tier, or contact_email. Admin service key required.",
        "operationId": "serviceUpdateApiKey",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "maxLength": 500
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "revoked"
                    ]
                  },
                  "contributor_tier": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "verified",
                      "trusted"
                    ]
                  },
                  "contact_email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No fields to update"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/service/api-keys/{id}/activate": {
      "post": {
        "summary": "Activate a pending service-tier key (admin)",
        "description": "Flip a self-registered service-tier API key from pending (`activated_at` NULL — reads only) to fully active (`activated_at` set — writes resume). Optionally sets `brand_config`, `verification_authority`, `rate_limit_per_hour`, and `provision_account` in the same call. Admin service key required. Idempotent: returns `already_active: true` if the key was previously activated.\n\n**Atomic tenant provisioning (`provision_account`)**: tenant-umbrella consumers (Merrie, GoThere, etc.) include `provision_account` in their activation request email. The operator passes those values through to this endpoint, which atomically (a) flips the key to active, (b) creates the consumer's tenant portal_account, and (c) links the now-active key to it. The response includes the new `account.id` — the operator forwards it to the consumer alongside the activation confirmation. The consumer never makes a second round-trip for tenant provisioning.\n\nThis is the canonical activation path for tenant-umbrella consumers. Per-operator portable consumers omit `provision_account` and call `POST /service/accounts/link` per operator as those operators come online — both forms remain supported.\n\n**Why atomic?** Pending keys are strictly read-only — no portal_account exists before activation. The `provision_account` body collapses the publisher-identity creation into the single quality-gate moment, so consumers never have a pre-activation footprint and admin's action is one call.",
        "operationId": "serviceActivateApiKey",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brand_config": {
                    "type": "object",
                    "description": "Per-key sender identity for verification emails. Operator-set at activation."
                  },
                  "verification_authority": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Methods this key may auto-approve, e.g. [\"manual_review:in_person\"]."
                  },
                  "rate_limit_per_hour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100000
                  },
                  "provision_account": {
                    "type": "object",
                    "description": "Optional tenant-account provisioning bundled with activation. Creates a portal_account with the supplied identity and links the now-active key to it. Omit for per-operator portable consumers.",
                    "required": [
                      "email",
                      "business_name"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "maxLength": 254,
                        "description": "Sentinel email on a domain the consumer controls (e.g. `tenant@no-reply.consumer-app.com`). Never used for OTP claim; identifies the publisher row."
                      },
                      "business_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200,
                        "description": "Public-facing tenant name. Surfaces as `source.publisher` on events when no other publisher is set."
                      },
                      "claimed_by": {
                        "type": "string",
                        "maxLength": 50,
                        "description": "Short slug recording which app claimed this account. Defaults to `\"api\"`. Future link attempts under a different slug are refused with 409 CONFLICT."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key activated, or already active. If `provision_account` was supplied on a fresh activation, the response also includes `account`, `account_created`, and `account_linked`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "object"
                    },
                    "api_key_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "already_active": {
                      "type": "boolean"
                    },
                    "activated_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "account": {
                      "$ref": "#/components/schemas/ServiceAccount"
                    },
                    "account_created": {
                      "type": "boolean",
                      "description": "True if the tenant account was created during this call; false if it was found-and-linked to an existing row by email."
                    },
                    "account_linked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Key is not service tier, or `provision_account` body failed validation"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "`provision_account` matched an existing account that is already claimed by a different consumer or has a Supabase Auth owner. The key is still activated; resolve the account manually and link via `POST /service/accounts/link`."
          }
        }
      }
    },
    "/service/register/send-otp": {
      "post": {
        "summary": "Self-service: send registration OTP",
        "description": "Step 1 of self-issuance for a service-tier API key. Sends a verification code to the supplied email. Step 2 is `POST /service/register/verify-otp`, which issues the (pending) key. No authentication required.",
        "operationId": "serviceRegisterSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 320
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/service/register/verify-otp": {
      "post": {
        "summary": "Self-service: verify OTP and receive a pending service key",
        "description": "Step 2 of self-issuance. On a valid OTP, creates a service-tier api_key with `activated_at = NULL` and stores the application metadata for review. The raw key is returned ONCE — store it immediately.\n\nThe issued key authenticates for reads at the service-tier rate limit and for the `/service/verifications/path` lookup, but every write under `/service/*` returns `403 KEY_PENDING` until an admin calls `POST /service/api-keys/{id}/activate`. No code changes needed when the key is activated.",
        "operationId": "serviceRegisterVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "token",
                  "app_name",
                  "app_url",
                  "what_youre_building",
                  "verification_process"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 320
                  },
                  "token": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 8
                  },
                  "app_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "app_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 500
                  },
                  "what_youre_building": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 2000,
                    "description": "One paragraph. Who's the user, what's the integration shape."
                  },
                  "verification_process": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 2000,
                    "description": "How you verify the organizations you onboard. Drives the verification_authority granted at activation."
                  },
                  "expected_first_week_writes": {
                    "type": "string",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pending service key issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "raw_key": {
                          "type": "string",
                          "description": "Returned once. Store immediately — not recoverable."
                        },
                        "name": {
                          "type": "string"
                        },
                        "rate_limit_per_hour": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending_activation"
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "description": "Invalid or expired verification code (INVALID_OTP)"
          },
          "409": {
            "description": "An active service-tier key already exists for this email (ALREADY_EXISTS)"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/service/migrate-image-urls": {
      "post": {
        "summary": "One-time image URL migration",
        "description": "Rewrites image URLs across portal_accounts and events to direct R2 public URLs. Converts portal proxy paths and re-hosts external URLs (Google Places, gstatic, etc.) through the Sharp pipeline. Admin service key required. Requires `R2_PUBLIC_URL` to be configured on the server. Idempotent — safe to re-run.",
        "operationId": "serviceMigrateImageUrls",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Migration complete with per-category counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "migration": {
                      "type": "object",
                      "properties": {
                        "accounts": {
                          "type": "object",
                          "properties": {
                            "logo": {
                              "type": "integer"
                            },
                            "cover": {
                              "type": "integer"
                            },
                            "rehosted": {
                              "type": "integer"
                            }
                          }
                        },
                        "events": {
                          "type": "integer"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "R2_PUBLIC_URL not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Non-admin service key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/service/approved-domains": {
      "get": {
        "summary": "List approved domains",
        "description": "List domains on the Service API URL allowlist (used for sanitizing event link URLs and similar). Admin service key required.",
        "operationId": "serviceListApprovedDomains",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Allowlisted domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "approved_domains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApprovedDomain"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      },
      "post": {
        "summary": "Add an approved domain",
        "description": "Add a domain to the Service API URL allowlist. Resolves any pending approval request for the same domain. Admin service key required.",
        "operationId": "serviceAddApprovedDomain",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Lowercase hostname only — no scheme, port, or path."
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain added"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      }
    },
    "/service/approved-domains/{domain}": {
      "delete": {
        "summary": "Remove an approved domain",
        "description": "Remove a domain from the allowlist. Future Service API submissions referencing URLs at this domain will queue for review. Admin service key required.",
        "operationId": "serviceRemoveApprovedDomain",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      }
    },
    "/service/domain-approval-requests": {
      "get": {
        "summary": "List domain approval requests",
        "description": "Review queue of Service API URL submissions whose domain is not yet on the allowlist. Admin service key required.",
        "operationId": "serviceListDomainApprovalRequests",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected"
              ],
              "default": "pending"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainApprovalRequest"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          }
        }
      }
    },
    "/service/domain-approval-requests/{id}/approve": {
      "post": {
        "summary": "Approve a domain approval request",
        "description": "Add the requested domain to the allowlist and mark the request approved. Admin service key required.",
        "operationId": "serviceApproveDomainRequest",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          },
          "404": {
            "description": "Request not found"
          },
          "409": {
            "description": "Request already reviewed"
          }
        }
      }
    },
    "/service/domain-approval-requests/{id}/reject": {
      "post": {
        "summary": "Reject a domain approval request",
        "description": "Mark the request rejected without allowlisting the domain. Admin service key required.",
        "operationId": "serviceRejectDomainRequest",
        "security": [
          {
            "serviceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rejected"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Admin access required"
          },
          "404": {
            "description": "Request not found"
          },
          "409": {
            "description": "Request already reviewed"
          }
        }
      }
    },
    "/places": {
      "get": {
        "summary": "List places",
        "description": "Public read of Place records (physical locations). Filter by region, geo proximity, or text search. No firehose: at least one structural filter recommended.",
        "operationId": "listPlaces",
        "parameters": [
          {
            "name": "near",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^-?\\d+\\.?\\d*,-?\\d+\\.?\\d*$"
            },
            "description": "Coordinates as lat,lng for proximity filtering"
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by region slug"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated place list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "meta",
                    "places"
                  ],
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "places": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Place"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/places/{id}": {
      "get": {
        "summary": "Get a single place",
        "operationId": "getPlace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place",
            "content": {
              "application/json": {
                "schema": {
[...]
